@import "compass/reset";
@import "_base";
@import "compass/css3";

/** STRUCTURE **/

body {
	background: #000000;
	font-family: 'Titillium Web', "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	text-align: center;
	overflow: hidden;

	&.intro {
		margin-top: 0 - (100vh*0) - ($sawtooth-height*0);
	}

	&.play {
		margin-top: 0 - (100vh*1) - ($sawtooth-height*1);
	}

	&.who {
		margin-top: 0 - (100vh*2) - ($sawtooth-height*2);
	}

	@include transition-property(margin-top);
	@include transition-duration(0.65s);
	@include transition-timing-function(ease-in-out);

}

section {
	height:100vh;
 	width:100vw;
 	position: relative;
}

h1 {
	font-size: $text-size-title;
	text-transform: uppercase;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/** COMMON **/

.bubble {	

	background-color: white;
	@include border-radius(70px);
	padding: 40px 45px 45px 60px;
	margin: 20px 20px;
	line-height: 65px;
	
	display: inline-block;
	position: relative;
	text-align: center;
	z-index: 5;

	&:after{
		content: "";
		position: absolute;
		bottom: -50px;
		left: -10px;
		z-index: -100;
		background-image: url("../images/sections/intro-header-bubble-tail.png");
		background-size: 100%;
		width: 142px;
		height: 147px;
	}

}

.big-button {

	@include frame-button( $intro-main-color, #FFFFFF, $intro-bold-color );
	position:absolute;
	bottom: 5px;
	width: 100%;
}

/** INTRO **/

#intro {
	background-color: $intro-main-color;
	&:after {
		content: "";
		z-index: 200;
		@include sawtooth( $sawtooth-height, $intro-main-color );
	}
}

#intro-title {	
	
	color: $intro-main-color;

	&:before{
		content: "";
		position: absolute;
		bottom: -45px;
		left: -95px;
		z-index: -50;
		background-image: url("../images/sections/intro-header-icon.png");
		background-size: 100%;
		width: 136px;
		height: 118px;
	}
}

#instructions {		
	position: absolute;
	width: 100%;
	@include vertical-align();
	@include display-flex;
	justify-content: center;

	img {
		height: 50vh;
		max-height: 468px;
	}

	padding-top: 30px;
}


/** PLAY **/

#play {
	background-color: $play-main-color;	
	height:100vh + ($sawtooth-height*2);
	&:before {
		content: " ";
		height: $sawtooth-height;
		width: 100%;
		display: block;
	}
	&:after {
		content: " ";
		z-index: 100;
		@include sawtooth( $sawtooth-height, $play-main-color );
	}
}

/** WHO **/

#who {
	background-color: $who-main-color;
}